management:
    tracing:
        sampling:
            probability: 1.0
    endpoint:
        health:
            show-details: always
    endpoints:
        web:
            exposure:
                include: "*"
            
resilience4j:
    circuitbreaker:
        configs:
            default:
                registerHealthIndicator: true
                slidingWindowType: COUNT_BASED
                slidingWindowSize: 10
                minimumNumberOfCalls: 5
                permittedNumberOfCallsInHalfOpenState: 3
                automaticTransitionFromOpenToHalfOpenEnabled: true
                waitDurationInOpenState: 5s
                failureRateThreshold: 50
                eventConsumerBufferSize: 10
                
    retry:
        configs:
            default:
                maxAttempts: 3
                waitDuration: 200
